@using Twitter.MVC.Models.ViewModels
@model ProfileViewModel
<div class="navigation">
    <input type="submit" id="tweets" name="tweets" value="Tweets" />
    <input type="submit" id="following" name="following" value="Following" />
    <input type="submit" id="followers" name="followers" value="Followers" />
    <input type="submit" id="favourite" name="favourite" value="Favourite" />
</div>
<div id="content">
@Html.DisplayFor(m => m.Tweets)
</div>
<script>
    $('#tweets').click(function () {
        $('#content > *').hide();

        @foreach (var tweet in Model.Tweets)
        {
            <text>$('#content').append('<div class="tweet">' +
                '<div class="user">@tweet.User</div>' +
                '<div class="tweet-content">@tweet.Content</div>' +
                '<div class="buttons">' +
                    '@Html.ActionLink("Favourite", "Favourite", "Tweets", new { id = tweet.Id, destination = "Index" }, new { @class = "button" })' +
                    '@Html.ActionLink("Retweet", "Retweet", "Tweets", new { id = tweet.Id, destination = "Index" }, new { @class = "button" })' +
                    '@Html.ActionLink("Report", "Report", null, new { @class = "button" })' +
                    '@Html.ActionLink("Reply", "Reply", null, new { @class = "button" })' +
                    '@Html.ActionLink("Share", "Share", null, new { @class = "button" })' +
                '</div>' +
            '</div>')</text>
        }
    })

    $('#following').click(function () {
        $('#content > *').hide()

        @foreach (var following in Model.Following) {
            <text>$('#content').append('<div>@following.Username</div>')</text>
        }
    })

    $('#followers').click(function () {
        $('#content > *').hide()

        @foreach (var followers in Model.Followers) {
            <text>$('#content').append('<div>@followers.Username</div>')</text>
        }
    })

    $('#favourite').click(function () {
        $('#content > *').hide();

        @foreach (var favouriteTweet in Model.FavouriteTweets)
        {
            <text>$('#content').append('<div class="tweet">' +
                '<div class="user">@favouriteTweet.User</div>' +
                '<div class="tweet-content">@favouriteTweet.Content</div>' +
                '<div class="buttons">' +
                    '@Html.ActionLink("Retweet", "Retweet", "Tweets", new { id = favouriteTweet.Id, destination = "Index" }, new { @class = "button" })' +
                    '@Html.ActionLink("Report", "Report", null, new { @class = "button" })' +
                    '@Html.ActionLink("Reply", "Reply", null, new { @class = "button" })' +
                    '@Html.ActionLink("Share", "Share", null, new { @class = "button" })' +
                '</div>' +
            '</div>')</text>
        }
    })
</script>