@using SportSystem.App.Models
@model CreateTeamModel

<div>
    <h1>Create Team</h1>

    @using (Html.BeginForm("Create", "Teams"))
    {
        <div id="team-labels">
            @Html.LabelFor(m => m.TeamBindingModel.Name, new { @class = "team-label" })<br />

            @Html.LabelFor(m => m.TeamBindingModel.NickName, new { @class = "team-label" })<br />

            @Html.LabelFor(m => m.TeamBindingModel.Website, new { @class = "team-label" })<br />

            @Html.LabelFor(m => m.TeamBindingModel.DateFounded)
        </div>

        <div id="team-textboxes">
            @Html.TextBoxFor(m => m.TeamBindingModel.Name, new { @class = "form-control team-textbox" })

            @Html.ValidationMessageFor(m => m.TeamBindingModel.Name)

            @Html.TextBoxFor(m => m.TeamBindingModel.NickName, new { @class = "form-control team-textbox" })

            @Html.ValidationMessageFor(m => m.TeamBindingModel.NickName)

            @Html.TextBoxFor(m => m.TeamBindingModel.Website, new { @class = "form-control team-textbox" })

            @Html.ValidationMessageFor(m => m.TeamBindingModel.Website)

            @Html.TextBoxFor(m => m.TeamBindingModel.DateFounded, new { @class = "form-control team-textbox" })

            @Html.ValidationMessageFor(m => m.TeamBindingModel.DateFounded)
        </div>

        <div id="add-players">
            <h1>Players:</h1>

            <div class="player-labels">
                @Html.LabelFor(m => m.Players, new { @class = "player-label" })
            </div>

            <div class="player-dropdowns">
                @Html.DropDownListFor(m => m.TeamBindingModel.Players, Model.Players, new { @class = "form-control player-dropdown" })
            </div>            
        </div>

        <div id="add-more-players-div">
            <input type="button" id="add-more-players" value="Add more players" />
        </div>

        <input type="submit" class="btn btn-primary" value="Add team" />
    }
</div>

@section scripts {    
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $('#add-more-players').click(function () {
            var newLabelDiv = $('<div class="player-labels">');
            var newLabel = $('<label class="player-label" for="Players">').text('Player');
            var newDropdownDiv = $('<div class="player-dropdowns">');
            var newDropdown = $('<select class="form-control player-dropdown" id="TeamBindingModel_Players" name="TeamBindingModel.Players"><option>Alexis Sanchez</option>' +
                '<option>Arjen Robben</option>' +
                '<option>Franck Ribery</option>' +
                '<option>Wayne Rooney</option>' +
                '<option>Lionel Messi</option>' +
                '<option>Theo Walcott</option>' +
                '<option>Cristiano Ronaldo</option>' +
                '<option>Aaron Lennon</option>' +
                '<option>Gareth Bale</option>' +
                '<option>Antonio Valencia</option>' +
                '<option>Robin van Persie</option>' +
                '<option>Ronaldinho</option>' +
                '</select>');

            newLabelDiv
                .append(newLabel);
            newDropdownDiv
                .append(newDropdown);

            $('#add-players')
                .append(newLabelDiv)
                .append(newDropdownDiv);
        });
    </script>
}