<!DOCTYPE html>
html
  head
    title Update Cat
  body
    form(
      method='POST'
      action='/updateCat'
    )
      input(
        type='text'
        name='name'
      )
      br
      input(
        type='number'
        name='age'
      )
      br
      input(
        type='hidden'
        name='id'
        value=id
      )
      input(
        type='submit'
        value='Submit'
      )