@using Snippy.App.Models
@model SnippetDetailsViewModel

<div>
    <span>@Html.ActionLink(Model.LanguageName, "Snippets", "Languages", new { name = Model.LanguageName }, null)</span>
    
    <span>@Model.Title</span>
</div>

<div>by @Model.Author on @Model.CreationTime.Day.@Model.CreationTime.Month.@Model.CreationTime.Year</div>

@if (Model.Labels.Any())
{
    <div>Labels: @Html.DisplayFor(m => m.Labels)</div>
}

<div>@Model.Code</div>

<div>
    <h1>Comments:</h1>

    @if (Model.Comments.Any())
    {
        <div id="snippet-comments">
            @Html.DisplayFor(m => m.Comments)
        </div>
    }
    else
    {
        <div>There are no comments right now.</div>
    }    
</div>

@if (this.User.Identity.IsAuthenticated)
{
    <div>
        @using (Ajax.BeginForm("Comment", "Comments", new { id = Model.Id }, new AjaxOptions()
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.InsertBefore,
            UpdateTargetId = "snippet-comments",
            OnFailure = "displayError"
        }))
        {
            @Html.TextArea("content", new { placeholder = "Write a public comment" })
            <input type="submit" class="btn btn-primary" value="Add comment" />
        }
    </div>
}

@section scripts {
    <script>
        function displayError(request) {
            console.log(request);
        };
    </script>    
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}