@using Twitter.MVC.Models.ViewModels
@model IEnumerable<TweetViewModel>
@if (this.User.Identity.IsAuthenticated)
{
    <div class="tweet">
        @using (Html.BeginForm("PostTweet", "Tweets"))
        {
            <textarea name="content" placeholder="Enter tweet text..."></textarea>
            <input type="submit" value="Tweet" />
        }
    </div>
}
@foreach (var tweet in Model)
{
    <div class="tweet">
        <div class="user">
            @tweet.User
        </div>
        <div class="tweet-content">
            @tweet.Content
        </div>
        <div class="buttons">
            @Html.ActionLink("Favourite", "Favourite", "Tweets", new { id = tweet.Id, destination = "Index" }, new { @class = "button" })
            @Html.ActionLink("Retweet", "Retweet", "Tweets", new { id = tweet.Id, destination = "Index" }, new { @class = "button" })
            @Html.ActionLink("Report", "Report", null, new { @class = "button" })
            @Html.ActionLink("Reply", "Reply", null, new { @class = "button" })
            @Html.ActionLink("Share", "Share", null, new { @class = "button" })
        </div>
    </div>
}