@using Snippy.App.Models
@model CreateSnippetModel

<h1>Add new snippet</h1>

@using (@Html.BeginForm("Create", "Snippets"))
{ 
    <div id="snippet-labels">
        @Html.LabelFor(m => m.SnippetBindingModel.Title)

        @Html.LabelFor(m => m.SnippetBindingModel.Description)    

        @Html.LabelFor(m => m.SnippetBindingModel.Code)

        @Html.LabelFor(m => m.SnippetBindingModel.Language)

        @Html.LabelFor(m => m.SnippetBindingModel.Labels)
    </div>

    <div id="snippet-inputs">
        @Html.TextBoxFor(m => m.SnippetBindingModel.Title, new { placeholder = "Title", @class = "form-control" })
    
        @Html.TextAreaFor(m => m.SnippetBindingModel.Description, new { placeholder = "Some description about the snippet", @class = "form-control" })

        @Html.TextAreaFor(m => m.SnippetBindingModel.Code, new { @class = "form-control" })

        @Html.DropDownListFor(m => m.SnippetBindingModel.Language, Model.Languages, new { @class = "form-control" })

        @Html.TextBoxFor(m => m.SnippetBindingModel.Labels, new { placeholder = "label;new; semicolon-separated   ;       games", @class = "form-control" })
    </div>

    <div>
        <input type="submit" class="btn btn-success" value="Add" />

        @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-default" })
    </div>
}